<hr class="my-5">
<div class="row">
  <p class="text-center">
    <strong class="text-danger">
      Please note:
    </strong>
    You are using <strong>CRYPTOTRADER.TAX</strong> there are some additional steps that need to take place.
    Please utilize the following guides to finish your steps. We provided you with a .CSV file which should
    be imported into <a href="sheets.google.com">Google Sheets</a>.
  <ul>
    <li>
      <a
        href="https://help.cryptotrader.tax/getting-started-guides/how-to-export-your-exchange-trading-history/genericmanual-exchange-guide">
        CryptoTrader.tax
      </a>
    </li>
    <li>
      <a href="https://help.loyverse.com/help/how-open-csv-file-google-sheets">
        Import CSV into Google Sheets
      </a>
    </li>
  </ul>
  </p>
</div>
