<hr class="my-5">
<div class="row">
  <p class="text-center">
    <strong class="text-danger">
      Please note:
    </strong>
    You chose a <strong>MANUAL</strong> format. We generated a simple CSV file with
    relevant information, which was broken down into a more friendly format.
    This is to aid you, your CPA, or other tax profession read your transactions easier.
    If this format is too vague or would like additional fields. Please feel free to send us
    your suggestion.
  </p>
</div>
