{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-terms{% endblock %}


{% block content %}


  <div class="container">
    <p class="h1">
      {{ page.title }}
    </p>
    <p class="">
      Posted: {{ page.date }}
    </p>
    {% if page.revised_date %}
      <p class="">
      Revised: {{ page.revised_date }}
      </p>
    {% endif %}

    <p><strong>{{ page.intro }}</strong></p>
    <p>{{ page.body|richtext }}</p>
  </div>


{% endblock %}
