{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block inner %}
  <div class="container my-5">
    {#    <h1>{% trans "Sign In" %}</h1>#}

    {% get_providers as socialaccount_providers %}

    <!-- Material form login -->
    <div class="card">

      <h5 class="card-header morpheus-den-gradient white-text text-center py-4">
        <strong>{% trans "Sign In" %}</strong>
      </h5>

      <!--Card content-->
      <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" method="POST" action="{% url 'account_login' %}" id="form">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <!-- Forgot password -->
          <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

          <!-- Sign in button -->
          <button form="form" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                  type="submit">
            Sign in
          </button>

          <!-- Register -->

          {% get_providers as socialaccount_providers %}
          {% if socialaccount_providers %}
            <!-- Social register -->
            <p>or sign in with:</p>

            <a type="button" href="{% provider_login_url "facebook" process="connect" %}">
              <i class="fab fa-facebook-f fa-fw blue-text"></i>
            </a>

{#            <a type="button" href="{% provider_login_url "discord" process="connect" %}">#}
{#              <i class="fab fa-discord fa-fw indigo-text"></i>#}
{#            </a>#}
{##}
{#            <a type="button" href="{% provider_login_url "github" process="connect" %}">#}
{#              <i class="fab fa-github fa-fw black-text"></i>#}
{#            </a>#}

            <a type="button" href="{% provider_login_url "google" process="connect" %}">
              <i class="fab fa-google fa-fw deep-orange-text"></i>
            </a>

          {% else %}
            <p>Not a member?
              <a href="{{ signup_url }}">Register</a>
            </p>
          {% endif %}

        </form>
        <!-- Form -->

      </div>

    </div>
    <!-- Material form login -->
  </div>
{% endblock %}

